= bootstrap_form_for(@owner, layout: :horizontal, label_col: 'col-sm-2', control_col: 'col-sm-3') do |f|
  = f.text_field :name
  = f.text_field :phone
  = f.text_field :mail
  - if not @owner.is_primary
    .col-sm-6#owners-list
    %h3
      #{I18n.t 'views.user.others_users_linked'} :
    .pane
      %table.table.table-striped.table-condensed#users_linked_list
        %thead
          %tr
            %th.sort{ data: { sort: 'user-name'} }
              #{I18n.t 'activerecord.attributes.owner.name'}
            %th.sort{ data: { sort: 'user-email'} }
              #{I18n.t 'activerecord.attributes.owner.mail'}
            %th.sort{ data: { sort: 'user-phone'} }
              #{I18n.t 'activerecord.attributes.owner.phone'}
            %th
        %tbody.list
          - @all_users.each do |user|
            -unless user == current_user
              %tr.user-entry{ data: {'infos-url' => "test" } }
                %td.user-name= user.name
                %td.user-email= user.email
                %td.user-phone= user.phone
                %td= check_box_tag(:user_ids, user.id, @owner.users.include?(user),name: 'owner[user_ids][]')
  .col-sm-offset-2
    - if defined? save_and_new
      = f.primary I18n.t 'views.buttons.save_and_new'
    = f.primary I18n.t 'views.buttons.save'