.page-header
  %h1 Propriétaires

.col-sm-6#owners-list
  #new-owner-button
    %a.btn.btn-primary{ href: new_owner_path, title: 'Nouveau Propriétaire',   }
      %span.fa.fa-plus
      Nouveau propriétaire
  %br
  .pane
    %table.table.table-striped.table-condensed#owners_list
      %thead
        %tr
          %th.sort{ data: { sort: 'owner-name' } }
            Nom
            %i.fa.fa-sort
          %th
            Téléphone
          %th
          %th
          %th
      %tbody.list
        - @owners.each do |owner|
          %tr.owner-entry{ data: {'infos-url' => owner_path(owner) } }
            %td.owner-name= owner.name
            %td.owner-phone= owner.phone
            %td= link_to 'Voir', owner
            %td
              - if be_owner(owner)
                = link_to 'Éditer', edit_owner_path(owner)
            %td
              -if can_be_deleted(owner)
                = link_to owner, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' do
                  %span.fa.fa-delete
                  Supprimer
  %br