.page-header
  %h1 
    = @owner.name
.col-sm-6#owners-list
  %h3
    #{I18n.t 'views.user.users_linked'} :
  .pane
    %table.table.table-striped.table-condensed#users_linked_list
      %thead
        %tr
          %th.sort{ data: { sort: 'user-name'} }
            #{I18n.t 'activerecord.attributes.user.name'}
          %th.sort{ data: { sort: 'user-email'} }
            #{I18n.t 'activerecord.attributes.user.email'}
          %th.sort{ data: { sort: 'user-phone'} }
            #{I18n.t 'activerecord.attributes.user.phone'}
      %tbody.list
        - @owner.users.each do |user|
          %tr.user-entry
            %td.user-name= user.name
            %td.user-email= user.email
            %td.user-phone= user.phone
  %br
  %br          
  .links
    -if be_owner(@owner)
      = link_to edit_owner_path(@owner), class: 'btn btn-default btn-xs' do
        %span.fa.fa-edit
        #{I18n.t 'views.buttons.edit'}

    = link_to owners_path, class: 'btn btn-default btn-xs' do
      %span.fa.fa-index
      #{I18n.t 'views.buttons.return'}
    
    -if can_be_deleted(@owner)
      = link_to @owner, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' do
        %span.fa.fa-delete
        #{I18n.t 'views.buttons.delete'}