.page-header
  %h1 Objets

.col-sm-6#items-list
  #new-item-button
    %a.btn.btn-primary{ href: new_item_path, title: 'Nouvel Objet',   }
      %span.fa.fa-plus
      Nouvel Objet
  .pane
    %table.table.table-striped.table-condensed
      %thead
        %tr
          %th.sort{ data: { sort: 'item-id'} }
            ID
            %i.fa.fa-sort
          %th.sort{ data: { sort: 'item-name' } }
            Nom
            %i.fa.fa-sort
          %th.sort{ data: { sort: 'item-owner' } }
            Propriétaire
            %i.fa.fa-sort
          %th.sort{ data: { sort: 'item-number' } }
            Nombre
            %i.fa.fa-sort
      %tbody.list
        - @items.each do |item|
          %tr.item-entry{ data: {'infos-url' => item_path(item) } }
            %td.item-id= item.id
            %td.item-name= item.name
            %td
              - if item.owner
                = link_to owner_path(item.owner), class: 'panel-link' do
                  %span.item-owner= item.owner.name
            %td.item-number= item.number
            %td= link_to 'Voir', item
            %td= link_to 'Éditer', edit_item_path(item)


  %br
