.page-header
  %h1
    #{I18n.t 'views.item.belong_to'} #{@concern_owner.name}

.col-sm-6#items-list
  #new-item-button
    %a.btn.btn-primary{ href: new_item_path_url(@concern_owner), title: I18n.t('activerecord.models.item.new')}
      %span.fa.fa-plus
      #{I18n.t 'activerecord.models.item.new'}
  %br
  .pane
    %table.table.table-striped.table-condensed#items_list_owner
      %thead
        %tr
          %th.sort{ data: { sort: 'item-name' } }
            #{I18n.t 'activerecord.attributes.item.name'}
            %i.fa.fa-sort
          %th.sort{ data: { sort: 'item-category' } }
            #{I18n.t 'activerecord.attributes.item.category_id'}
            %i.fa.fa-sort
          %th.sort{ data: { sort: 'item-number' } }
            #{I18n.t 'activerecord.attributes.item.number'}
            %i.fa.fa-sort
          %th.sort{ data: { sort: 'item-location' } }
            #{I18n.t 'activerecord.attributes.item.location'}
            %i.fa.fa-sort
          %th.sort{ data: { sort: 'item-price' } }
            #{I18n.t 'activerecord.attributes.item.price'}
          %th.sort{ data: { sort: 'item-comment' } }
            #{I18n.t 'activerecord.attributes.item.comment'}
          %th.sort{ data: { sort: 'item-item_status' } }
            #{I18n.t 'activerecord.attributes.item.item_status_id'}
          %th
      %tbody.list
        - @items.each do |item|
          %tr.item-entry{ data: {'infos-url' => item_path(item) } }
            %td.item-name= item.name
            %td.item-category
              -if item.category
                = item.category.name
            %td.item-number= item.number
            %td.item-location= item.location
            %td.item-price= item.price
            %td.item-comment= item.comment
            %td.item-item_status
              -if item.item_status
                = item.item_status.name
            %td
              /= link_to item, class: 'btn btn-default btn-xs' do
              /  %span.fa.fa-index
              /  #{I18n.t 'views.buttons.show'}
              = link_to edit_item_path_url(@concern_owner, item), class: 'btn btn-default btn-xs' do
                %span.fa.fa-index
                #{I18n.t 'views.buttons.edit'}
              /-if item.is_loanable & !item.is_loaned  
              /  = link_to new_loan_path_url(item), class: 'btn btn-default btn-xs' do
              /    %span.fa.fa-index
              /    #{I18n.t 'views.buttons.loan'}  
              = link_to item, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' do
                %span.fa.fa-delete
                #{I18n.t 'views.buttons.delete'}

