.page-header
  %h1 Objets empruntables

.col-sm-6#items-list
  .pane
    %table.table.table-striped.table-condensed#items_list
      %thead
        %tr
          %th.sort{ data: { sort: 'item-name' } }
            Nom
            %i.fa.fa-sort
          %th.sort{ data: { sort: 'item-owner' } }
            Propriétaire
            %i.fa.fa-sort
          %th.sort{ data: { sort: 'item-number' } }
            Nombre
            %i.fa.fa-sort
          %th
          %th
      %tbody.list
        - @items.each do |item|
          %tr.item-entry{ data: {'infos-url' => item_path(item) } }
            %td.item-name= item.name
            %td
              - if item.owner
                = link_to owner_path(item.owner), class: 'panel-link' do
                  %span.item-owner= item.owner.name
            %td.item-number= item.number
            %td= link_to 'Voir', item
            - if be_owner(item.owner)
              %td= link_to 'Éditer', edit_item_path(item)
            - else
              %td
  %br
