.page-header
  %h1
    #{I18n.t 'views.item.loanable'}

.col-sm-6#items-list
  .pane
    %table.table.table-striped.table-condensed#items_list
      %thead
        %tr
          %th.sort{ data: { sort: 'item-name' } }
            #{I18n.t 'activerecord.attributes.item.name'}
            %i.fa.fa-sort
          %th.sort{ data: { sort: 'item-category' } }
            #{I18n.t 'activerecord.attributes.item.category_id'}
            %i.fa.fa-sort
          %th.sort{ data: { sort: 'item-owner' } }
            #{I18n.t 'activerecord.attributes.item.owner_id'}
            %i.fa.fa-sort
          %th.sort{ data: { sort: 'item-number' } }
            #{I18n.t 'activerecord.attributes.item.number'}
            %i.fa.fa-sort
          %th
      %tbody.list
        - @items.each do |item|
          %tr.item-entry{ data: {'infos-url' => item_path(item) } }
            %td.item-name= item.name
            %td.item-category
              -if item.category
                = item.category.name
            %td
              = link_to owner_path(item.owner), class: 'panel-link' do
                %span.item-owner= item.owner.name
            %td.item-number= item.number
            %td
              /= link_to item, class: 'btn btn-default btn-xs' do
              /  %span.fa.fa-index
              /  #{I18n.t 'views.buttons.show'}
              - if be_owner(item.owner)
                = link_to edit_item_path(item), class: 'btn btn-default btn-xs' do
                  %span.fa.fa-index
                  #{I18n.t 'views.buttons.edit'}
  %br
