.page-header
  %h1 
    #{I18n.t 'views.item.link_to'} #{current_user.name}

.col-sm-6#items-list
  #new-item-button
    %a.btn.btn-primary{ href: new_item_path, title: I18n.t('activerecord.models.item.new')}
      %span.fa.fa-plus
      #{I18n.t 'activerecord.models.item.new'}
  %br
  .pane
    %table.table.table-striped.table-condensed#items_list_user
      %thead
        %tr
          %th.sort{ data: { sort: 'item-name' } }
            #{I18n.t 'activerecord.attributes.item.name'}
            %i.fa.fa-sort
          %th.sort{ data: { sort: 'item-category' } }
            #{I18n.t 'activerecord.attributes.item.category_id'}
            %i.fa.fa-sort
          %th.sort{ data: { sort: 'item-owner' } }
            #{I18n.t 'activerecord.attributes.item.owner_id'}
            %i.fa.fa-sort
          %th.sort{ data: { sort: 'item-number' } }
            #{I18n.t 'activerecord.attributes.item.number'}
            %i.fa.fa-sort
          %th.sort{ data: { sort: 'item-location' } }
            #{I18n.t 'activerecord.attributes.item.location'}
            %i.fa.fa-sort
          %th.sort{ data: { sort: 'item-is_loaned' } }
            #{I18n.t 'activerecord.attributes.item.item_status_id'}
            %i.fa.fa-sort
          %th
      %tbody.list
        - @items.each do |item|
          %tr.item-entry
            %td.item-name= item.name
            %td.item-category
              -if item.category
                = item.category.name
            %td.item-owner= item.owner.name
            %td.item-number= item.number
            %td.item-location= item.location
            %td
              - if item.item_status
                = item.item_status.name
            %td
              /= link_to item, class: 'btn btn-default btn-xs' do
              /  %span.fa.fa-index
              /  #{I18n.t 'views.buttons.show'}
              = link_to edit_item_path(item), class: 'btn btn-default btn-xs' do
                %span.fa.fa-index
                #{I18n.t 'views.buttons.edit'}
              = link_to item, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' do
                %span.fa.fa-delete
                #{I18n.t 'views.buttons.delete'}

