.page-header
  %h1 Objets de #{@concern_owner.name}

.col-sm-6#items-list
  #new-item-button
    %a.btn.btn-primary{ href: new_item_path, title: 'Nouvel Objet'}
      %span.fa.fa-plus
      Nouvel Objet
  %br
  .pane
    %table.table.table-striped.table-condensed#items_list_owner
      %thead
        %tr
          %th.sort{ data: { sort: 'item-name' } }
            Nom
            %i.fa.fa-sort
          %th.sort{ data: { sort: 'item-number' } }
            Nombre
            %i.fa.fa-sort
      %tbody.list
        - @items.each do |item|
          %tr.item-entry{ data: {'infos-url' => item_path(item) } }
            %td.item-name= item.name
            %td.item-number= item.number
            %td= link_to 'Voir', item
            %td= link_to 'Éditer', edit_item_path(item, @concern_owner)

